body{
    background: url(img/main-screen__bgc.jpg) no-repeat center center;
    background-size: cover;
    max-width: 1920px;
    height: 960px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flexbox;
}

h1{
    position: absolute;
   
    left: 312px;
    top: 270px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 140%;
    color: #ffff;
}

.logo-img{
   margin: 0;
    
}
.img-logo-2{
    margin-top: 45px;
    margin-left: 90px;
}
.nav-navigation{
    position: absolute;
    width: 768px;
    height: 24px;
    left: 8px;
    top: 11px;
    margin-top: 48px;
    margin-left: 642px;
    word-spacing: 56px;
    text-align: justify;
    align-items: center;
   
}

.nav-content{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: #ffff;  
}
.nav-content:hover{
    color:  #7C6AFA;
    transition: 0.2s all;

}

.button-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 183px;
    height: 44px;
    left: 1657px;
    top: 42px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    color: #ffff;
}


.chet-1{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    position: absolute;
    width: 102px;
    height: 112px;
    left: 312px;
    top: 500px;
    background: #121212;
    color: #ffff;
    
}

.chet-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    
    position: absolute;
    width: 107px;
    height: 112px;
    left: 503px;
    top: 500px;
    color: #ffff;
    
    background: #121212;
}
.chet-3-span{
    position: absolute;
width: 42px;
height: 50px;
left: 33px;
top: 20px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 140%;
/* or 50px */


/* white */

color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}
.chet-3-span-2{
    position: static;
width: 47px;
height: 22px;
left: 30px;
top: 70px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;

/* white */

color: #FFFFFF;

opacity: 0.4;

/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}

.chet-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;

    position: absolute;
    width: 108px;
    height: 112px;
    left: 700px;
    top: 500px;
    color: #ffff;
    background: #121212;
}

.chet-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    position: absolute;
    width: 115px;
    height: 112px;
    left: 898px;
    top: 500px;
    color: #ffff;
    background: #121212;
}